<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="runtestcases">
	<listeners>
		<listener class-name="TestNG.Listner"></listener>
	</listeners>
	<test name="practise">
		<!-- <groups> <run> <exclude name="Apple"></exclude> <include name="Apple"> 
			</include> </run> </groups> -->


		<!-- <class name="TestNG.Annotations"/> <class name="TestNG.DifferentUrl"/> 
			<class name="TestNG.DrivingCar"/> <class name="TestNG.ParameterExample"/> 
			<parameter name="Name" value="Mary"></parameter> <parameter name="Number" 
			value="123"></parameter> <class name="TestNG.GroupingExample"/> -->



	</test>
</suite>